.c-form {
    &__searchSection {
        @include border-radius('bottom');
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 15px;
        background-color: $gray-200;

        @include mq('md') {
            flex-direction: row;
            justify-content: center;
            padding: 10px 20px;
            margin-bottom: 20px;
        }
    }
    &__searchBoxWrap {
        display: flex;
        height: 31px;
        border: 1px solid $gray-300;
        @include mq('md') {
            width: 55%;
            height: 35px;
        }
        @include mq('lg') {
            width: 50%;
        }
        @include mq('xl') {
            width: 45%;
        }
    }
    &__searchInput {
        @include border-radius('left');
        width: 100%;
        padding: 0 15px;
        font-size: 14px;
        border: none;
        outline: 0;
        @include mq('md') {
            width: 100%;
        }
    }
    &__searchBtn {
        @include border-radius('right');
        width: 40px;
        background-color: $primary;
        border: none;
        outline: 0;

        & > i {
            color: $white;
        }
    }
}

.c-formAuth {
    &__cardHeader {
        text-align: center;
        background-color: #e6d4ce;
    }
    &__label {
        font-size: 14px;
    }
    &__input {
        font-size: 14px;
    }
    &__btnWrap {
        text-align: right;
    }
    &__btn {
        font-size: 14px;
    }
    &__welcomeBtn {
        display: block;
        width: 100%;
        padding: 10px 30px;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        border-radius: 3px;
        @include mq('md') {
            width: auto;
            padding: 7px 25px;
            margin-bottom: 0;
        }
    }
}
