.c-form {
    &__search {
        @include border-radius('bottom');
        width: 100%;
        padding: 15px;
        margin-right: 20px;
        background-color: $gray-200;
        // border: 1px solid $gray-200;
        @include mq('md') {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        & > input {
            @include border-radius('left');
            width: 50%;
            height: 35px;
            padding: 0 15px;
            font-size: 14px;
            border: none;
            outline: 0;
        }
        & > button {
            @include border-radius('right');
            width: 40px;
            background-color: $primary;
            border: none;
            outline: 0;

            & > i {
                color: $white;
            }
        }
    }
}
