%cardInfoTag {
    display: inline-block;
    padding: 1px 5px;
    margin-right: 10px;
    font-size: 11px;
    color: $gray-700;
    letter-spacing: 0.5px;
    white-space: nowrap;
    background: #ccb1b1;
    border-radius: 3px;
}

.p-bookDetail {
    margin: 0 auto;
    @include mq('lg') {
        width: 75%;
    }
    @include mq('xl') {
        width: 70%;
    }
    &__buttonWrap {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        @include mq('md') {
            margin-top: -20px;
        }
    }
    &__button {
        @include border-radius;
        padding: 3px 15px;
        margin-right: 5px;
        font-size: 13px;
        color: $white;
        background-color: $primary;
        border: none;
        &.-editDone {
            background-color: #ce6e00;
        }
    }
    &__bookAllInfoWrap {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: $white;
        border: 1px solid $gray-200;

        // @include mq('xl') {
        //     flex-direction: row;
        // }
    }

    // 画像
    &__bookImageWrap {
        width: 70px;
    }
    &__bookImage {
        //
    }

    // 書籍情報
    &__bookInfoWrap {
        padding-top: 10px;
    }
    &__starRating {
        //
    }
    &__nameWrap {
        display: flex;
        margin-bottom: 10px;
    }
    &__nameHead {
        @extend %cardInfoTag;
    }
    &__name {
        font-size: 13px;
    }
    &__readDateWrap {
        position: relative;
        display: flex;
        margin-bottom: 5px;
    }
    &__readDateHead {
        @extend %cardInfoTag;
        &.-edit {
            line-height: 2;
        }
    }
    &__readDate {
        font-size: 13px;
        &.-edit {
            padding: 0 3px;
            // font-size: 10px;
            border: 1px solid $gray-300;
        }
    }
    &__overviewWrap {
        padding: 10px 25px;
        margin-top: -1px;
        background-color: $white;
        border: 1px solid $gray-200;
        @include mq('lg') {
            padding: 10px 50px;
        }
    }
    &__overviewHead {
        @extend %cardInfoTag;
    }
    &__overview {
        font-size: 13px;
    }

    // ******************************
    // memo
    // ******************************

    &__memoWrap {
        position: relative;
        margin-top: 40px;
        font-size: 12px;
    }
    &__memoHead {
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 16px;
        & > i {
            margin-right: 3px;
        }
        & > span {
            font-size: 13px;
            color: $gray-600;
        }
    }
    &__memo {
        @include border-radius;
        @include letter-settings;
        min-height: 300px;
        padding: 15px 20px;
        font-size: 14px;
        background-color: $white;
        border: 1px solid $gray-200;
        &.-textarea {
            width: 100%;
            border: 3px dashed #987f75;
            &.-limit {
                background-color: #ffdbde;
                border: 3px dashed $red;
            }
        }
        &.-pre {
            word-break: break-all;
            white-space: pre-wrap;
        }
    }
    &__limitMessage {
        font-size: 15px;
        font-weight: bold;
        color: $red;
        text-align: right;
    }
}
