.p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    // logo
    &__logoWrap {
        white-space: nowrap;
        @include mq('md') {
            width: 50%;
        }
    }
    &__logoIcon {
        width: 20px;
        margin-right: 2px;
        @include mq('md') {
            width: 25px;
        }
    }
    &__logo {
        width: 100px;
        @include mq('md') {
            width: 130px;
        }
    }

    // navigation
    &__nav {
        justify-content: flex-end;
        &.-user {
            position: fixed;
            top: 0;
            right: -70vw;
            bottom: 0;
            z-index: 3;
            align-items: center;
            width: 70vw;
            padding: 80px 0 0 40px;
            background-color: rgba($color: #3e1616, $alpha: 0.9);
            transition: 0.2s;
            &.is-active {
                transform: translateX(-70vw);
            }
        }
        &.-guest,
        &.-user {
            @include mq('md') {
                position: static;
                display: flex;
                width: 50%;
                padding: 0;
                background-color: transparent;
            }
        }
    }

    &__navLists {
        padding: 0;
        margin: 0;
        list-style: none;
        &.-guest {
            display: flex;
        }
        @include mq('md') {
            display: flex;
        }
    }

    &__navList {
        margin-bottom: 15px;
        font-size: 15px;
        color: #fff8f8;
        white-space: nowrap;
        & > a {
            color: #fff8f8;
            & > i {
                margin-right: 4px;
            }
            &:hover {
                padding-bottom: 1px;
                text-decoration: none;
                border-bottom: 1px solid $secondary;
            }
        }
        &.-guest {
            margin: 0;
            &:first-child {
                margin-right: 9px;
                @include mq('md') {
                    margin-right: 13px;
                }
            }
            & > a {
                font-size: 13px;
                @include mq('md') {
                    font-size: 14px;
                }
            }
        }
        &.-myShelf {
            @include mq('md') {
                // display: none;
            }
        }
        @include mq('md') {
            margin: 0;
            margin-right: 15px;
            font-size: 13px;
        }
    }
    &__username {
        @include ellipsis;
        display: inline-block;
        max-width: 70px;
        line-height: 0.8;
    }
    &__menuOpen {
        width: 25px;
        @include mq('md') {
            display: none;
        }
    }
    &__menuClose {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        color: $secondary;
        @include mq('md') {
            display: none;
        }
    }
}
