.p-settings {
    &__list {
        padding: 10px 15px;
        margin-top: -1px;
        font-size: 13px;
        color: black;
        white-space: nowrap;
        list-style: none;
        background-color: $gray-100;
        border: 1px solid $gray-300;
        @include border-radius;
    }
}
