.p-welcome {
    // *****************************
    // キャッチ
    // *****************************
    &__catchSection {
        width: 100%;
        margin-bottom: 60px;
        background-color: $white;
        & > .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 10px 20px;
            @include mq('md') {
                flex-direction: row;
            }
            @include mq('lg') {
                width: 80%;
                margin-bottom: 70px;
            }
        }
    }

    // テキストエリア
    &__catchTextWrap {
        width: 100%;
        text-align: center;
        @include mq('md') {
            width: 50%;
            margin-top: 50px;
        }
        @include mq('lg') {
            margin-top: 100px;
        }
    }
    &__catchTitle {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.3;
        @include mq('md') {
            white-space: nowrap;
        }
        @include mq('lg') {
            font-size: 22px;
        }
    }
    &__catchText {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 14px;
        @include mq('md') {
            padding: 0 10px;
            margin-bottom: 25px;
            text-align: left;
        }
        @include mq('lg') {
            width: 330px;
            margin-bottom: 30px;
            font-size: 16px;
        }
    }
    &__btnWrap {
        display: flex;
        flex-direction: column;
        @include mq('md') {
            flex-direction: row;
            justify-content: center;
        }
    }
    &__registrationBtn {
        @include border-radius;
        padding: 7px 15px;
        color: $black;
        background-color: #e8c8bb;
        @include mq('md') {
            display: inline-block;
            margin-right: 15px;
        }
    }

    // アイコン
    &__catchIconWrap {
        @include flex-center;
        @include mq('md') {
            width: 45%;
            margin-left: 10px;
        }
        @include mq('lg') {
            width: 50%;
        }
    }
    &__catchIcon {
        width: 100%;
    }

    // *****************************
    // メッセージ
    // *****************************
    &__featuresSection {
        background-color: $secondary;
        & > .container {
            width: 100%;
            padding: 40px 20px;
            @include mq('md') {
                padding: 50px 20px;
            }
            @include mq('lg') {
                width: 80%;
            }
        }
    }
    &__featuresSectionHead {
        @include border-radius;
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0 auto 30px;
        font-size: 18px;
        color: $secondary;
        text-align: center;
        background-color: $primary;
        & > div {
            margin-top: 4px;
            margin-left: 5px;
            font-size: 16px;
        }
    }
    &__featuresSectionHeadLogoIcon {
        width: 23px;
        margin-right: 4px;
    }
    &__featuresSectionHeadLogo {
        width: 120px;
    }
    &__featuresWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include mq('md') {
            flex-direction: row;
            margin-top: 40px;
        }
    }
    &__featureWrap {
        width: 100%;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        @include mq('md') {
            width: 32%;
        }
    }
    &__featureHead {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        @include mq('md') {
            margin-bottom: 9px;
        }
        & > i[class~='fa-bookmark'] {
            margin-right: 3px;
            color: $primary;
        }
    }
    &__featureText {
        @include border-radius;
        padding: 10px;
        font-size: 13px;
        background-color: $white;
        border: 1px solid $gray-100;
        @include mq('md') {
            min-height: 180px;
        }
    }

    // *****************************
    // ボタンセクション
    // *****************************
    &__btnSection {
        @include flex-center;
        height: 120px;
        &.container {
            padding: 10px 20px;
        }
        @include mq('md') {
            @include flex-center;
        }
    }
}
