.l-footer {
    height: $footer-height;
    background-color: $primary;
    & > .container {
        @include flex-center;
        height: 100%;
    }

    &__logoIcon {
        width: 20px;
        margin-right: 5px;
        @include mq('md') {
            width: 20px;
            margin-right: 4px;
        }
    }
    &__logo {
        width: 100px;
        @include mq('md') {
            width: 110px;
        }
    }
}
