.l-header {
    z-index: $z-header;
    height: $header-height;
    background-color: $primary;
    box-shadow: rgba(0, 0, 0, 0.13) 0 1px 4px;

    @include mq(xs) {
        height: $header_height-sp;
    }

    & > .container {
        height: 100%;
    }
}
