.p-login {
    &__cardHeader {
        text-align: center;
        background-color: #e6d4ce;
    }
    &__rememberWrap {
        line-height: 1.4;
    }
    &__label {
        font-size: 14px;
    }
    &__loginBtn {
        font-size: 14px;
    }
    &__passRequest {
        font-size: 13px;
    }
}
